target/
.mvn/
.idea/

*.class
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

hs_err_pid*

application/src/main/resources/application-dev.properties
application/src/main/resources/application.properties

token/src/main/resources/token-dev.properties
